{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
    {{ super() }}
    Bienvenidos
{% endblock %}

{% block content %}
    {% if user_ip %}
        <h3>Hello, world. [[[Flask - Render]]], tu IP es {{ user_ip }}</h3>
    {% else %}
        <p>No tienes una IP asignada!</p>
        <a href="{{ url_for('index') }}">Ir al inicio</a>
    {% endif %}
    <h3>To Do:</h3>
    <ul>
        {% for to_do in to_dos %}
            {{ macros.render_todo(to_do) }}
        {% endfor %}
    </ul>
{% endblock %}

