<nav>
    <ul>
        <img src="{{ url_for('static', filename='images/Logo.JPG') }}" alt="Platzi Logo">
        <li><a href="{{ url_for('index') }}">Ir al inicio</a></li>
        <li><a href="https:://www.platzi.com/" target="_blank">Ir a Platzi</a></li>
    </ul>
</nav>
